root=true

[*]
insert_final_newline=true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
indent_size=4
indent_style=space
#ij_java_class_count_to_use_import_on_demand=9999
#ij_java_names_count_to_use_import_on_demand=9999
#ij_kotlin_imports_layout=*,kotlinx.**,java.**,javax.**,kotlin.**,^
#ij_kotlin_name_count_to_use_star_import=9999
#ij_kotlin_name_count_to_use_star_import_for_members=9999
#ij_kotlin_packages_to_use_import_on_demand=unset
ij_kotlin_allow_trailing_comma=false
ij_kotlin_allow_trailing_comma_on_call_site=false
ij_c_blank_lines_after_class_header=1
max_line_length=120
#ktlint_standard_package-name=disabled
ktlint_standard_string-template-indent=disabled
ktlint_standard_multiline-expression-wrapping=disabled
ktlint_standard_function-signature=disabled
ktlint_standard_trailing-comma-on-call-site=disabled
ktlint_standard_trailing-comma-on-declaration-site=disabled
ktlint_standard_annotation=disabled
ktlint_function_naming_ignore_when_annotated_with=Composable
ktlint_standard_no-empty-first-line-in-class-body=disabled
ktlint_chain_method_rule_force_multiline_when_chain_operator_count_greater_or_equal_than=unset
